@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  -webkit-background-size: cover;
  background-size: cover;

  font-family: 'Newsreader', sans-serif;
}

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

@media (min-width: 10px) {
  h2 {
    font-size: 20px;
  }
}

@media (min-width: 762px) {
  h2 {
    font-size: 32px;
  }
}

p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}